.background {
  background-image: url("../img/bg2.jpg");
  background-size: 100%;
}

.element {
  position: fixed;
  margin-top: 80px;
  margin-left: 100px;
  z-index: 999;
}

.rightdrawer {
  position: fixed;
  z-index: 999;
  display: flex;
  overflow: auto;
  max-height: 100vh;
}

.scroll {
  position: relative;
  z-index: 99;
}

.post {
  justify-content: flex-end;
}

.parent.child {
  justify-content: flex-end;
}

.footer {
  position: fixed;
  bottom: 0;
  right: 0;
}

.chat {
  padding-left: 21rem;
  margin-left: 21rem;
}

.status {
  padding-right: 50rem;
  margin-right: 50rem;
  border-right: 50rem;
}

.title {
  padding-right: 100rem;
  margin-right: 100rem;
}

.text-container {
  padding: 20px;
  height: 100%;
  /* position: relative; */
}
.textarea {
  /* max-lines: 7; */
  background: transparent;
  color: black;
  resize: none;
  border: 0 none;
  width: 100%;
  outline: none;
  height: 100%;
  /* position: absolute; */
}

.overflowx {
  overflow: hidden;
}

html {
  /* overflow-y: scroll; */
  /* overflow-x: hidden; */
}
